.diver {
    color: white;
    font-size: 23px;
    margin-top: 25px;
    position: relative;
}

input, select, textarea {
    color: #000000;
}

.card {
  background-color: #bbdefb;
  width: 15rem;
  height : 15rem;
}

.container {
  padding: 2px 16px;
  width: 23rem;
  height: 23rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-column {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 15px;
  text-align: center;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 15px;
  text-align: center;
}

ul#menu li {
  margin-top: 20px;
  margin-right: 40px;
  float: left;
}

.listHomeScreen {
  position: absolute;
}

ul#homemenu li {
  margin-top: 20px;
  margin-right: 40px;
  float: left;
}
